body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #282c34, #61dafb);
}

#menu {
    text-align: center;
}

#menu h1 {
    color: #ffffff;
}

#menu button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    background-color: #0095DD;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3;
}

#menu button:hover {
    background-color: #00699B;
}

canvas {
    border: 2px solid #0095DD;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: #f3f3f3;
}